<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='layui/css/layui.css') }}" media="all">
</head>

<body>
    <div style="margin-top: 20px;margin-left: 20px;">
        <form class="layui-form layui-form-pane" lay-filter="Demo">
            <div class="layui-form-item">
                <label class="layui-form-label">车位剩余</label>
                <div class="layui-input-inline">
                    <input readonly name="lotnum" autocomplete="off" class="layui-input">
                </div>
            </div>
        </form>
        <div class="layui-btn-group demoTable">
            <table id="demo" lay-filter="test"></table>
        </div>
    </div>
    <script src="{{ url_for('static', filename='layui/layui.all.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/ip_url.js') }}"></script>
    <script>
        layui.use(['jquery', 'form'], function (args) {
            var $ = layui.jquery;
            var form = layui.form;

            //获取车位剩余数量
            $.ajax({
                url: ip_url + "getLotNum",
                type: 'get',
                async: false,
                dataType: 'json',
                success: function (data) {
                    if (data) {
                        var num = data.Num;
                        form.val("Demo", { //form组件赋值
                            "lotnum": num
                        });
                    }
                    else {
                        layer.msg("获取数据失败！");
                    }
                }
            })

            //获取车库内车辆信息
            $.ajax({
                url: ip_url + "getLotCars",
                type: 'get',
                async: false,
                dataType: 'json',
                success: function (data) {
                    if (data) {
                        showtable(data);
                    }
                    else {
                        layer.msg("获取数据失败！");
                    }
                }
            })

            //显示表格数据
            function showtable(mydata) {
                var element = layui.element;
                var table = layui.table;
                var form = layui.form;
                //展示已知数据
                table.render({
                    elem: '#demo',
                    cols: [[ //标题栏
                        { field: 'CID', title: '车牌号', width: 200, sort: true },
                        { field: 'UID', title: 'ID', width: 200, sort: true },
                        { field: 'Intime', title: '入库时间', width: 250, sort: true },
                    ]],
                    data: mydata,
                    even: true,
                    page: true, //是否显示分页
                    limits: [5, 12, 20],
                    limit: 12 //每页默认显示的数量
                });

            }
        });

    </script>

</body>

</html>