<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='layui/css/layui.css') }}" media="all">
</head>

<body>
    <div style="margin-top: 20px;margin-left: 20px;">
        <form class="layui-form layui-form-pane" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">车牌号</label>
                <div class="layui-input-inline">
                    <input name="CID" required lay-verify="required" placeholder="请输入车牌号" autocomplete="off"
                        class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">*必填项</div>
            </div>
            <div class="layui-form-item ">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">入库</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='layui/layui.all.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/ip_url.js') }}"></script>
    <script>
        layui.use(['jquery', 'form'], function (args) {
            var $ = layui.jquery;
            var form = layui.form;

            //监听提交
            form.on('submit(formDemo)', function (subdata) {
                console.log(JSON.stringify(subdata.field));
                var is_success = false;
                $.ajax({
                    url: ip_url + "letCarIn",
                    type: 'get',
                    async: false,
                    data: subdata.field,
                    dataType: 'json',
                    success: function (data) {
                        if (data) {
                            var result = data.result
                            console.log(result); //打印请求返回的结果
                            if (result) { //结果为true
                                layer.msg("入库成功！");
                                is_success = true;
                            } else {
                                layer.msg("库中已存在，入库失败！");
                            }
                        }
                        else {
                            layer.msg("获取数据失败！");
                        }
                    }
                })
                if (is_success) {
                    setTimeout("window.location.reload()", 1500);
                }
                return false;
            });
        });
    </script>

</body>

</html>